# Python:
*.pyc

# Log
*.log
*.tmp

# Binary
core
*.exe
*.out
*.so
*.o
*.a
*.txt
*.json
*.csv

# Assembly
*.s
*.asm

# History
history/
tmp/
bin/
angr/
klee/
triton/

.vscode/
.idea/